workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6daca6ee-063e-44c8-93e3-5f3749cd6b4b",
      "name": "Telegram Trigger",
      "webhookId": "8cb6bd5b-ec52-4416-ae6f-d57afa6a030e",
      "credentials": {
        "telegramApi": {
          "id": "4z02qyegKxMJciXb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ba0220c3-3372-4df7-a0de-458e5de36764",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        128
      ],
      "id": "5fcfea80-9b90-4838-a4d3-f098d5242459",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SNPLSDzuPiQcxqG9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "48a372b5-1912-445b-aca5-f4800a36f02d",
      "name": "Send a text message",
      "webhookId": "b46cac33-3758-46c2-ab4c-03154ad1de43",
      "credentials": {
        "telegramApi": {
          "id": "4z02qyegKxMJciXb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59f5b02a-c99e-4020-851d-c0b59cbb1906",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "624c8020780cf64efd5707e5916470a97ab6b01ba859760e6effc1f530550d97"
  },
  "id": "D5UlJh8ZmUQDMkft",
  "tags": []
}