progress3/WebApp & Workflow/WebApp.json
{
  "name": "WebApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hikari-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d156c117-84ad-400b-a41f-4dbc1a2cfb1e",
      "name": "Webhook",
      "webhookId": "dcfcbcbb-c907-4cae-8ec4-0aeb21ec27e8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        0
      ],
      "id": "9b803faf-1ddd-46a4-a589-ba0bd13c7d55",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ambil teks dari berbagai kemungkinan struktur output OpenAI\n\nlet text =\n  $json.text ||                          // kalau simplify output = ON dan langsung kasih 'text'\n  $json.message?.content ||              // kalau $json adalah 1 choice { index, message:{content} }\n  $json.choices?.[0]?.message?.content ||// kalau $json adalah full response dari OpenAI\n  $json.response?.[0]?.content?.[0]?.text || // kalau pakai format baru \"response[0].content[0].text\"\n  'Model tidak mengembalikan jawaban.';\n\n// Kirim ke webapp dalam format { reply: \"...\" }\nreturn {\n  reply: text,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "9a922c9b-bba5-4681-9d4a-1d95a576601e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "Kamu adalah HIKARI AI, asisten AI bahasa Indonesia yang menjawab dengan gaya mahasiswa, santai, jelas, dan ringkas. Jawablah sesuai konteks pertanyaan user.\n",
              "role": "system"
            },
            {
              "content": "={{$json[\"body\"][\"message\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "3569ec82-6454-40b9-89e8-e6827c8663bd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "UuFKVelwKdNVv5oN",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0de620c-c4e3-4e94-9e11-32fdc15de3e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "624c8020780cf64efd5707e5916470a97ab6b01ba859760e6effc1f530550d97"
  },
  "id": "TTfyOraAtedFHX7A",
  "tags": []
}